<!DOCTYPE html>
<head>
<title>Ernie: Text Summarizer</title>
<link rel="stylesheet" href="../static/css/styles.css">
<link rel="shortcut icon" type="image/jpg" href="icon.png"/>

</head>

<body>

<div class="logo">
    <img src="about.png" alt="About">    
</div>
<center><h1>A Multi-lingual Text Summarizer</h1></center>

<div class="drp">
    <div class="dropdown">
      <button class="dropbtn"><img src="head.png" style="width: 50px"></button>
      <div class="dropdown-content">
        <a href="about.html">About</a>
        <a href="faq.html">FAQ</a>
        <a href="contact.html">Contact Us</a>
      </div>
    </div>
</div>
    
</body>
</html>