<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1500, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/bigint-portfolio-2.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #252829">
    <input type="hidden" id="anPageName" name="page" value="bigint-portfolio-2" />
    <div class="container-center-horizontal">
      <div class="bigint-portfolio-2 screen">
        <div class="hero-section-t1nn4X">
          <img class="ellipse-1-OsCcT1" src="img/ellipse-1@1x.png" />
          <div class="hero-left-OsCcT1">
            <div class="summarizify-the-augm-HAEC90 valign-text-middle">
              Summarizify the augmented text summarizer that helps millions
            </div>
            <div class="summarize-safe-time-HAEC90 valign-text-middle">
              Summarize, Safe Time, and Look Like Pro at it
            </div>
          </div>
          <div class="contact-btn-OsCcT1">
            <div class="rectangle-1-hzWlci"></div>
            <div class="learn-more-hzWlci valign-text-middle dmsans-medium-white-19px">Learn More</div>
          </div>
          <div class="contact-btn-7rz02f border-3px-hibiscus">
            <div class="contact-6HIRhu valign-text-middle dmsans-medium-white-19px">Contact</div>
          </div>
        </div>
        <div class="navbar-t1nn4X">
          <div class="header-sBsjtF"></div>
          <div class="menu-sBsjtF">
            <div class="hover-gBZEs7"></div>
            <div class="home-gBZEs7 valign-text-middle dmsans-bold-hibiscus-24px">Home</div>
            <div class="summarizer-gBZEs7 valign-text-middle dmsans-bold-white-24px">Summarizer</div>
            <div class="about-gBZEs7 valign-text-middle dmsans-bold-white-24px">About</div>
            <div class="my-account-gBZEs7 valign-text-middle dmsans-bold-white-24px">My Account</div>
            <div class="rectangle-1-gBZEs7"></div>
            <div class="sign-up-gBZEs7 valign-text-middle dmsans-medium-white-24px">SIGN UP</div>
          </div>
          <div class="logo-sBsjtF">
            <div class="shimul-dev-w2XWeL valign-text-middle montserrat-extra-bold-white-30px">Summarizify</div>
          </div>
        </div>
        <div class="about-t1nn4X">
          <div class="rectangle-5-zv27WF"></div>
          <img class="rectangle-6-zv27WF" src="img/rectangle-6@1x.png" />
          <div class="about-us-zv27WF">ABOUT US</div>
          <div class="woman-led-us-made-hippo-lovers-zv27WF valign-text-middle rufina-normal-white-45px">
            Woman Led, US Made, Hippo Lovers!
          </div>
          <div class="summarizify-was-born-zv27WF valign-text-middle dmsans-normal-silver-chalice-25px">
            Summarizify was born from 5 students that had the drive to exceed profesor Shuba expectations. Our team
            comes from different from different types of world. Our team meet during their time at GWU Masters program
            and is looking to always grow. Our team prides in diversity and being woman led. Now are you ready to become
            a summarizer with our team!
          </div>
        </div>
        <div class="technology-t1nn4X">
          <div class="what-can-summarify-do-bFCBCp valign-text-middle rufina-normal-white-45px">
            What Can Summarify Do?
          </div>
          <div class="tech-1-bFCBCp">
            <div class="rectangle-7-wWJc2b border-2px-hibiscus"></div>
            <img class="rectangle-8-wWJc2b" src="img/rectangle-8@2x.png" />
            <div class="keyword-extraction-wWJc2b valign-text-middle rufina-normal-white-26px">Keyword Extraction</div>
            <div class="extract-keywords-from-all-the-text-wWJc2b valign-text-middle dmsans-normal-silver-chalice-20px">
              Extract keywords from all the text
            </div>
          </div>
          <div class="tech-1-IRJC4j">
            <div class="rectangle-7-yISdB6 border-2px-hibiscus"></div>
            <img class="rectangle-8-yISdB6" src="img/rectangle-8-1@2x.png" />
            <div class="save-time-and-money-yISdB6 valign-text-middle rufina-normal-white-26px">
              Save Time and Money
            </div>
            <div class="it-will-drive-cost-d-yISdB6 valign-text-middle dmsans-normal-silver-chalice-20px">
              It will drive cost down and improve productivity
            </div>
          </div>
          <div class="tech-1-nmzi6c">
            <div class="rectangle-7-YJjvyU border-2px-hibiscus"></div>
            <img class="rectangle-8-YJjvyU" src="img/rectangle-8-2@2x.png" />
            <div class="summarize-duh-YJjvyU valign-text-middle rufina-normal-white-26px">Summarize Duh?</div>
            <div class="you-willl-be-able-to-summzize-YJjvyU valign-text-middle dmsans-normal-silver-chalice-20px">
              You willl be able to summzize
            </div>
          </div>
        </div>
        <div class="education-t1nn4X">
          <div class="rectangle-9-E9ECYU"></div>
          <img class="right-E9ECYU" src="img/right@1x.png" />
          <div class="left-E9ECYU">
            <div class="how-was-this-product-developed-1sq1VN dmsans-bold-hibiscus-20px">
              HOW WAS THIS PRODUCT DEVELOPED
            </div>
            <div class="its-about-you-and-for-you-1sq1VN valign-text-middle rufina-normal-white-45px">
              Its about you, and for you...
            </div>
            <img class="side-line-1sq1VN" src="img/side-line@1x.svg" />
            <div class="tbd-1sq1VN valign-text-middle dmsans-normal-hibiscus-24px">TBD</div>
            <div class="to-infinity-and-summarize-1sq1VN valign-text-middle rufina-normal-white-32px">
              To Infinity and Summarize
            </div>
            <div class="our-team-finalizes-l-1sq1VN valign-text-middle dmsans-normal-silver-chalice-20px">
              Our team finalizes last details on our doing and lunches the best AI Summarizer Yet!!!! We also drank lots
              of coffes and looked a funny pictures like the one here!
            </div>
            <div class="february-7-1sq1VN valign-text-middle dmsans-normal-hibiscus-24px">February 7</div>
            <div class="summarizfy-is-born-1sq1VN valign-text-middle rufina-normal-white-32px">Summarizfy is Born</div>
            <div class="our-team-decides-on-1sq1VN valign-text-middle dmsans-normal-silver-chalice-20px">
              Our team decides on the idea of doing a text summarizer to help others understand large amounts of data in
              a short period of time
            </div>
            <div class="january-12-1sq1VN valign-text-middle dmsans-normal-hibiscus-24px">January 12</div>
            <div class="team-formation-1sq1VN valign-text-middle rufina-normal-white-32px">Team Formation</div>
            <div class="our-team-meet-for-th-1sq1VN valign-text-middle dmsans-normal-silver-chalice-20px">
              Our team meet for the first time and we just clicked! We bounce several ideas and then....
            </div>
          </div>
        </div>
        <div class="testimonials-t1nn4X">
          <div class="what-people-saying-6PgeVM dmsans-bold-hibiscus-20px">WHAT PEOPLE SAYING</div>
          <div class="clients-6PgeVM valign-text-middle rufina-normal-white-45px">Clients</div>
          <div class="testimonials-6PgeVM">
            <div class="tech-1-c6y3AS">
              <div class="rectangle-7-iFxXlx border-2px-hibiscus"></div>
              <img class="rectangle-8-iFxXlx" src="img/rectangle-8@2x.svg" />
              <div class="francis-wolfe-iFxXlx valign-text-middle rufina-normal-white-22px">Francis Wolfe</div>
              <div class="honestly-it-has-made-iFxXlx valign-text-middle dmsans-normal-silver-chalice-20px">
                Honestly it has made school so easy, I dont read anymore I only use summarizify before an exam and done.
                Who reads anymore??
              </div>
              <div class="student-iFxXlx">STUDENT</div>
            </div>
            <div class="tech-1-YvWaHp">
              <div class="rectangle-7-52HQaE border-2px-hibiscus"></div>
              <img class="rectangle-8-52HQaE" src="img/rectangle-8-1@2x.svg" />
              <div class="noel-barber-52HQaE valign-text-middle rufina-normal-white-22px">Noel Barber</div>
              <div class="love-it-its-not-like-52HQaE valign-text-middle dmsans-normal-silver-chalice-20px">
                Love it, its not like anything in the market and allows me to safe so much time!
              </div>
              <div class="student-52HQaE dmsans-normal-hibiscus-14px">STUDENT</div>
              <img class="vector-52HQaE" src="img/vector-1@2x.svg" />
              <img class="vector-iQcnJF" src="img/vector-1@2x.svg" />
              <img class="vector-wlQt8w" src="img/vector-1@2x.svg" />
            </div>
            <div class="tech-1-gknH30">
              <div class="rectangle-7-T9expo border-2px-hibiscus"></div>
              <img class="rectangle-8-T9expo" src="img/rectangle-8-2@2x.svg" />
              <div class="darla-stevenson-T9expo valign-text-middle rufina-normal-white-22px">Darla Stevenson</div>
              <div class="it-allows-me-to-save-T9expo valign-text-middle dmsans-normal-silver-chalice-20px">
                It allows me to save soo much time from reading thousand of articles, I am loving it.
              </div>
              <div class="business-owner-T9expo dmsans-normal-hibiscus-14px">BUSINESS OWNER</div>
            </div>
          </div>
        </div>
        <div class="designed-with-t1nn4X valign-text-middle dmsans-normal-silver-chalice-25px">Designed with</div>
        <div class="by-t1nn4X valign-text-middle dmsans-normal-silver-chalice-25px">by</div>
        <img class="vector-t1nn4X" src="img/vector@2x.svg" />
        <div class="summarizify-t1nn4X valign-text-middle">Summarizify</div>
        <img class="whats-app-image-2022-04-08-at-355-1-t1nn4X" src="img/whatsapp-image-2022-04-08-at-3-55-1@2x.png" />
      </div>
    </div>
  </body>
</html>
