<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1500, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/frame-1.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0">
    <input type="hidden" id="anPageName" name="page" value="frame-1" />
    <div class="container-center-horizontal">
      <div class="frame-1 screen">
        <div class="rectangle-13-VxPVnb"></div>
        <div class="rectangle-16-VxPVnb border-6px-persian-pink"></div>
        <div class="free-VxPVnb valign-text-middle rufina-normal-white-48px">FREE</div>
        <div class="premium-VxPVnb valign-text-middle rufina-normal-white-48px">PREMIUM</div>
        <div class="summarizer-unlimited-VxPVnb valign-text-middle dmsans-normal-white-32px">
          Summarizer unlimited words<br /><br />7 Writing modes<br /><br />4 Synonyms options<br /><br />15 Sentences
          processed at once<br /><br />Unlimited Freeze Words and phrases
        </div>
        <div class="x125-summarizer-word-VxPVnb valign-text-middle dmsans-normal-white-32px">
          125 Summarizer word limit<br /><br />2 Writing modes<br /><br />3 Synonyms options<br /><br />1 Freeze Word or
          phrase
        </div>
        <div class="contact-btn-VxPVnb">
          <div class="rectangle-1-AYjAEd"></div>
          <div class="log-in-AYjAEd valign-text-middle dmsans-bold-white-25px">Log in</div>
        </div>
        <div class="navbar-VxPVnb">
          <div class="header-08iGsg"></div>
          <div class="menu-08iGsg">
            <div class="hover-VGUc8V"></div>
            <div class="home-VGUc8V valign-text-middle dmsans-bold-hibiscus-24px">Home</div>
            <div class="summarizer-VGUc8V valign-text-middle dmsans-bold-white-24px">Summarizer</div>
            <div class="about-VGUc8V valign-text-middle dmsans-bold-white-24px">About</div>
            <div class="my-account-VGUc8V valign-text-middle dmsans-bold-white-24px">My Account</div>
            <div class="rectangle-15-VGUc8V border-6px-hibiscus"></div>
          </div>
          <div class="logo-08iGsg">
            <div class="shimul-dev-yx5ozU valign-text-middle montserrat-extra-bold-white-30px">Summarizify</div>
            <img
              class="whats-app-image-2022-04-08-at-355-1-yx5ozU"
              src="img/whatsapp-image-2022-04-08-at-3-55-1@2x.png"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
