<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1400, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/landing.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="landing" />
    <div class="container-center-horizontal">
      <form class="landing screen" name="form1" action="form1" method="post">
        <div class="digital-agency-LxtcUV valign-text-middle">DIGITAL AGENCY</div>
        <div class="prospection-LxtcUV valign-text-middle">PROSPECTION</div>
        <div class="websiteapps-LxtcUV valign-text-middle">
          <span
            ><span class="span0-58cEHx sfprodisplay-medium-mine-shaft-24px">WEB</span><span class="span1-58cEHx">.</span
            ><span class="span2-58cEHx sfprodisplay-medium-mine-shaft-24px">SITE</span
            ><span class="span3-58cEHx">.</span
            ><span class="span4-58cEHx sfprodisplay-medium-mine-shaft-24px">APPS</span>
          </span>
        </div>
        <div class="qipper-LxtcUV valign-text-middle">QIPPER</div>
        <img class="group-2-LxtcUV" src="img/group-2@2x.svg" />
        <div class="group-10-LxtcUV">
          <div class="ellipse-2-2o3eaL"></div>
          <div class="home-2o3eaL smart-layers-pointers valign-text-middle sfprodisplay-light-mine-shaft-12px">
            home
          </div>
          <div class="gallery-2o3eaL valign-text-middle sfprodisplay-light-mine-shaft-12px">gallery</div>
          <div class="about-us-2o3eaL valign-text-middle sfprodisplay-light-mine-shaft-12px">about us</div>
          <div class="contacts-2o3eaL valign-text-middle sfprodisplay-light-mine-shaft-12px">contacts</div>
          <div class="eng-2o3eaL valign-text-middle sfprodisplay-light-mine-shaft-12px">Eng</div>
          <div class="ellipse-1-2o3eaL"></div>
          <img class="logo-2-2o3eaL" src="img/logo-2@2x.svg" />
        </div>
        <div class="rectangle-1-LxtcUV smart-layers-pointers"></div>
        <div class="get-a-discount-LxtcUV valign-text-middle">GET A DISCOUNT</div>
        <div class="with-qipper-you-dont-LxtcUV sfprodisplay-regular-normal-mine-shaft-14px">
          With qipper, You don&#39;t have to think about the quality of web content anymore. The qipper project was
          designed only for those in need of quality and style. We know how to sell and we do it well.
        </div>
        <div class="we-have-been-a-close-LxtcUV sfprodisplay-regular-normal-mine-shaft-14px">
          We have been a close-knit team for a long time, we are more than 10 years old. Qipper is our common interest
          and common goal. Everyone who contacts us receives only positive feedback from their customers. We don&#39;t
          try to please everyone, but we try to open everyone&#39;s eyes. Keep track of who you are asking for help.
        </div>
        <div class="we-are-doing-this-LxtcUV valign-text-middle">WE ARE DOING THIS</div>
        <div class="web-sites-LxtcUV sfprodisplay-regular-normal-mine-shaft-14px">Web sites</div>
        <div class="android-ios-apps-LxtcUV sfprodisplay-regular-normal-mine-shaft-14px">Android / IOS Apps</div>
        <div class="corporate-identity-LxtcUV sfprodisplay-regular-normal-mine-shaft-14px">Corporate identity</div>
        <div class="advertising-LxtcUV sfprodisplay-regular-normal-mine-shaft-14px">Advertising</div>
        <div class="rectangle-2-LxtcUV"></div>
        <div class="rectangle-13-LxtcUV"></div>
        <div class="rectangle-18-LxtcUV"></div>
        <div class="home-LxtcUV valign-text-middle sfprodisplay-light-mine-shaft-12px">home</div>
        <div class="gallery-LxtcUV valign-text-middle sfprodisplay-light-mine-shaft-12px">gallery</div>
        <div class="about-us-LxtcUV valign-text-middle sfprodisplay-light-mine-shaft-12px">about us</div>
        <div class="contacts-LxtcUV valign-text-middle sfprodisplay-light-mine-shaft-12px">contacts</div>
        <div class="site-map-LxtcUV valign-text-middle">site map</div>
        <img class="logo-3-LxtcUV" src="img/logo-3@2x.svg" />
        <div class="group-9-LxtcUV">
          <div class="rectangle-17-HYvxZ1 smart-layers-pointers"></div>
          <a href="javascript:SubmitForm('form1')"><div class="call-me-HYvxZ1 valign-text-middle">CALL ME</div> </a>
        </div>
        <div class="more-LxtcUV sfprodisplay-regular-normal-mine-shaft-14px">MORE</div>
        <div class="group-3-LxtcUV">
          <div class="said-once-a-good-man-UWG9Mz">...said once a good man</div>
          <div class="just-do-it-UWG9Mz sfprodisplay-black-abbey-72px">JUST DO IT</div>
        </div>
        <div class="lorem-ipsum-is-simpl-LxtcUV sfprodisplay-regular-normal-mine-shaft-14px">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry&#39;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
          Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
          PageMaker including versions of Lorem Ipsum.
        </div>
        <div class="you-will-be-answered-LxtcUV sfprodisplay-regular-normal-mine-shaft-14px">
          You will be answered by our qualified employee who will help you with the selection and completion of the
          technical task. You only need to leave your own data. Check that the information is filled in correctly.
        </div>
        <div class="warning-the-site-was-LxtcUV sfprodisplay-regular-normal-mine-shaft-14px">
          WARNING: The site was made by professionals. Do not repeat yourself in any case. If you need a better site,
          contact Qipper
        </div>
        <div class="copyright-2010-2020-LxtcUV valign-text-bottom">
          Copyright ©&nbsp;&nbsp;2010-2020 Qipper Company S.L. All rights reserved.
        </div>
        <div class="rectangle-3-LxtcUV">
          <iframe
            style="border: 0; pointer-events: auto"
            id="ytplayer"
            type="text/html"
            width="100%"
            height="100%"
            src="https://www.youtube.com/embed/VCwzh6qVGdE?rel=0&mute=1&autoplay=1"
            frameborder="0"
            allowfullscreen="allowfullscreen"
            mozallowfullscreen="mozallowfullscreen"
            msallowfullscreen="msallowfullscreen"
            oallowfullscreen="oallowfullscreen"
            webkitallowfullscreen="webkitallowfullscreen"
          ></iframe>
        </div>
        <img class="rectangle-5-LxtcUV" src="img/rectangle-5@2x.png" />
        <img class="rectangle-9-LxtcUV" src="img/rectangle-9@2x.png" />
        <img class="rectangle-6-LxtcUV" src="img/rectangle-6@2x.png" />
        <img class="rectangle-10-LxtcUV" src="img/rectangle-10@2x.png" />
        <img class="rectangle-7-LxtcUV" src="img/rectangle-10@2x.png" />
        <img class="rectangle-11-LxtcUV" src="img/rectangle-6@2x.png" />
        <img class="rectangle-8-LxtcUV" src="img/rectangle-9@2x.png" />
        <img class="rectangle-12-LxtcUV" src="img/rectangle-5@2x.png" />
        <div class="rectangle-4-LxtcUV"></div>
        <div class="and-these-are-our-words-LxtcUV">..and these are our words</div>
        <div class="we-can-we-do-LxtcUV sfprodisplay-black-abbey-72px">WE CAN - WE DO</div>
        <div class="fill-out-the-applica-LxtcUV sfprodisplay-black-abbey-72px">
          FILL OUT THE APPLICATION FORM AND WE WILL CALL YOU
        </div>
        <div class="group-5-LxtcUV">
          <div class="rectangle-14-mvozV4"></div>
          <input
            class="your-name-mvozV4 sfprodisplay-regular-normal-gray-14px"
            name="yourname"
            placeholder="Your name"
            type="text"
          />
          <div class="rectangle-15-mvozV4"></div>
        </div>
        <div class="group-4-LxtcUV">
          <input
            class="your-telephone-tMjNNF sfprodisplay-regular-normal-gray-14px"
            name="yourtelephone"
            placeholder="Your Telephone*"
            type="number"
          />
          <div class="rectangle-15-tMjNNF"></div>
        </div>
        <div class="group-6-LxtcUV">
          <input
            class="your-e-mail-NqE8C2 sfprodisplay-regular-normal-gray-14px"
            name="youre-mail"
            placeholder="Your E-mail*"
            type="email"
          />
          <div class="rectangle-16-NqE8C2"></div>
        </div>
      </form>
    </div>
    <script>
      /* Copyright (c) 2016 Tobias Buschor https://goo.gl/gl0mbf | MIT License https://goo.gl/HgajeK */

      if (!HTMLFormElement.prototype.reportValidity) {
        HTMLFormElement.prototype.reportValidity = function () {
          if (this.checkValidity()) return true;
          var btn = document.createElement("button");
          this.appendChild(btn);
          btn.click();
          this.removeChild(btn);
          return false;
        };
      }

      function SubmitForm(form_name) {
        var form = document.getElementsByName(form_name)[0];
        if (form.reportValidity()) {
          form.submit();
          if (window.submitted) window.submitted();
        }
      }
    </script>
  </body>
</html>
