<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1500, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/log-in-frame.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0">
    <input type="hidden" id="anPageName" name="page" value="log-in-frame" />
    <div class="container-center-horizontal">
      <div class="log-in-frame screen">
        <div class="rectangle-13-mKMp0B"></div>
        <div class="log-in-to-your-summarizify-account-mKMp0B valign-text-middle rufina-normal-white-45px">
          Log in to your Summarizify Account
        </div>
        <div class="dont-have-an-account-mKMp0B valign-text-middle dmsans-medium-white-20px"><a href="sign-up-frame.html"style="color: white;">
          Don’t have an account?</a>
        </div>
        <div class="rectangle-15-mKMp0B border-3px-hibiscus"></div>
        <div class="rectangle-16-mKMp0B"></div>
        <div class="your-email-mKMp0B valign-text-middle dmsans-normal-silver-chalice-25px">Your Email</div>
        <div class="password-mKMp0B valign-text-middle dmsans-normal-silver-chalice-25px">Password</div>
        <input
          class="enter-your-email-mKMp0B dmsans-normal-silver-chalice-25px"
          name="enteryouremail"
          placeholder="Enter your email"
          type="email"
          required
        /><input
          class="enter-your-password-mKMp0B dmsans-normal-silver-chalice-25px"
          name="enteryourpassword"
          placeholder="Enter your password"
          type="password"
          required
        />
        <div class="contact-btn-mKMp0B">
          <div class="rectangle-1-YRExdR"></div>
          <div class="log-in-YRExdR valign-text-middle dmsans-bold-white-25px"><a href="summarizer-frame.html" style="color: white;">Log in</a></div>
        </div>
        <div class="navbar-mKMp0B">
          <div class="header-0oRDQx"></div>
          <div class="menu-0oRDQx">
            <div class="hover-gufp18"></div>
            <div class="home-gufp18 valign-text-middle dmsans-bold-hibiscus-24px"><a href="mainpage-frame.html" style="color: white;">Home</a></div>
            <div class="summarizer-gufp18 valign-text-middle dmsans-bold-white-24px"><a href="summarizer-frame.html" style="color: white;">Summarizer</a></div>
            <div class="about-gufp18 valign-text-middle dmsans-bold-white-24px">About</div>
            <div class="my-account-gufp18 valign-text-middle dmsans-bold-white-24px">My Account</div>
            <div class="rectangle-1-gufp18"></div>
            <div class="sign-up-gufp18 valign-text-middle dmsans-medium-white-24px"><a href="sign-up-frame.html" style="color: white;">SIGN UP</a></div>
          </div>
          <div class="logo-0oRDQx">
            <div class="shimul-dev-rOkrBw valign-text-middle montserrat-extra-bold-white-30px">Summarizify</div>
            <img
              class="whats-app-image-2022-04-08-at-355-1-rOkrBw"
              src="img/whatsapp-image-2022-04-08-at-3-55-1@2x.png"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
