<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1500, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/mainpage-frame.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #252829">
    <input type="hidden" id="anPageName" name="page" value="mainpage-frame" />
    <div class="container-center-horizontal">
      <div class="mainpage-frame screen">
        <div class="hero-section-FUbsgY">
          <img class="ellipse-1-DGHAzR" src="img/ellipse-1@1x.png" />
          <div class="hero-left-DGHAzR">
            <div class="summarizify-the-augm-SluO1i valign-text-middle">
              Summarizify the augmented text summarizer that helps millions
            </div>
            <div class="summarize-safe-time-SluO1i valign-text-middle">
              Summarize, Safe Time, and Look Like Pro at it
            </div>
          </div>
          <div class="contact-btn-DGHAzR">
            <div class="rectangle-1-xx4xO6"></div>
            <div class="learn-more-xx4xO6 valign-text-middle dmsans-medium-white-19px">Learn More</div>
          </div>
          <div class="contact-btn-hV6sIS border-3px-hibiscus">
            <div type = "button" class="contact-KxoUfU valign-text-middle dmsans-medium-white-19px"  onclick="alert('Contact us @ summarizify@gwu.edu')">Contact</div>
          </div>
        </div>
        <div class="navbar-FUbsgY">
          <div class="header-PnCb1L"></div>
          <div class="menu-PnCb1L">
            <div class="hover-Xp7kiF"></div>
            <div class="home-Xp7kiF valign-text-middle dmsans-bold-hibiscus-24px">Home</div>
            <div class="summarizer-Xp7kiF valign-text-middle dmsans-bold-white-24px"><a href="summarizer-frame.html" style="color: white;">Summarizer</a></div>
            <div class="about-Xp7kiF valign-text-middle dmsans-bold-white-24px">About</div>
            <div class="my-account-Xp7kiF valign-text-middle dmsans-bold-white-24px">My Account</div>
            <div class="rectangle-1-Xp7kiF"></div>
            <div class="sign-up-Xp7kiF valign-text-middle dmsans-medium-white-24px"><a href="sign-up-frame.html"style="color: white;">SIGN UP</a></div>
          </div>
          <div class="logo-PnCb1L">
            <div class="shimul-dev-gFsFEo valign-text-middle montserrat-extra-bold-white-30px">Summarizify</div>
          </div>
        </div>
        <div class="about-FUbsgY">
          <div class="rectangle-5-xqxwxI"></div>
          <img class="rectangle-6-xqxwxI" src="img/rectangle-6@1x.png" />
          <div class="about-us-xqxwxI">ABOUT US</div>
          <div class="woman-led-us-made-hippo-lovers-xqxwxI valign-text-middle rufina-normal-white-45px">
            Woman Led, US Made, Hippo Lovers!
          </div>
          <div class="summarizify-was-born-xqxwxI valign-text-middle dmsans-normal-silver-chalice-25px">
            Summarizify was born from 5 students that had the drive to exceed profesor Shuba expectations. Our team
            comes from different from different types of world. Our team meet during their time at GWU Masters program
            and is looking to always grow. Our team prides in diversity and being woman led. Now are you ready to become
            a summarizer with our team!
          </div>
        </div>
        <div class="technology-FUbsgY">
          <div class="what-can-summarify-do-f0KZED valign-text-middle rufina-normal-white-45px">
            What Can Summarify Do?
          </div>
          <div class="tech-1-f0KZED">
            <div class="rectangle-7-dV7ECv border-2px-hibiscus"></div>
            <img class="rectangle-8-dV7ECv" src="img/rectangle-8@2x.png" />
            <div class="keyword-extraction-dV7ECv valign-text-middle rufina-normal-white-26px">Keyword Extraction</div>
            <div class="extract-keywords-from-all-the-text-dV7ECv valign-text-middle dmsans-normal-silver-chalice-20px">
              Extract keywords from all the text
            </div>
          </div>
          <div class="tech-1-mRJCxA">
            <div class="rectangle-7-Ze6uqa border-2px-hibiscus"></div>
            <img class="rectangle-8-Ze6uqa" src="img/rectangle-8-1@2x.png" />
            <div class="save-time-and-money-Ze6uqa valign-text-middle rufina-normal-white-26px">
              Save Time and Money
            </div>
            <div class="it-will-drive-cost-d-Ze6uqa valign-text-middle dmsans-normal-silver-chalice-20px">
              It will drive cost down and improve productivity
            </div>
          </div>
          <div class="tech-1-x45F0f">
            <div class="rectangle-7-fFGX4y border-2px-hibiscus"></div>
            <img class="rectangle-8-fFGX4y" src="img/rectangle-8-2@2x.png" />
            <div class="summarize-duh-fFGX4y valign-text-middle rufina-normal-white-26px">Summarize Duh?</div>
            <div class="you-willl-be-able-to-summzize-fFGX4y valign-text-middle dmsans-normal-silver-chalice-20px">
              You willl be able to summzize
            </div>
          </div>
        </div>
        <div class="education-FUbsgY">
          <div class="rectangle-9-Dqj7x6"></div>
          <img class="right-Dqj7x6" src="img/right@1x.png" />
          <div class="left-Dqj7x6">
            <div class="how-was-this-product-developed-gZQMco dmsans-bold-hibiscus-20px">
              HOW WAS THIS PRODUCT DEVELOPED
            </div>
            <div class="its-about-you-and-for-you-gZQMco valign-text-middle rufina-normal-white-45px">
              Its about you, and for you...
            </div>
            <img class="side-line-gZQMco" src="img/side-line@1x.svg" />
            <div class="tbd-gZQMco valign-text-middle dmsans-normal-hibiscus-24px">TBD</div>
            <div class="to-infinity-and-summarize-gZQMco valign-text-middle rufina-normal-white-32px">
              To Infinity and Summarize
            </div>
            <div class="our-team-finalizes-l-gZQMco valign-text-middle dmsans-normal-silver-chalice-20px">
              Our team finalizes last details on our doing and lunches the best AI Summarizer Yet!!!! We also drank lots
              of coffes and looked a funny pictures like the one here!
            </div>
            <div class="february-7-gZQMco valign-text-middle dmsans-normal-hibiscus-24px">February 7</div>
            <div class="summarizfy-is-born-gZQMco valign-text-middle rufina-normal-white-32px">Summarizfy is Born</div>
            <div class="our-team-decides-on-gZQMco valign-text-middle dmsans-normal-silver-chalice-20px">
              Our team decides on the idea of doing a text summarizer to help others understand large amounts of data in
              a short period of time
            </div>
            <div class="january-12-gZQMco valign-text-middle dmsans-normal-hibiscus-24px">January 12</div>
            <div class="team-formation-gZQMco valign-text-middle rufina-normal-white-32px">Team Formation</div>
            <div class="our-team-meet-for-th-gZQMco valign-text-middle dmsans-normal-silver-chalice-20px">
              Our team meet for the first time and we just clicked! We bounce several ideas and then....
            </div>
          </div>
        </div>
        <div class="testimonials-FUbsgY">
          <div class="what-people-saying-oGO23v dmsans-bold-hibiscus-20px">WHAT PEOPLE SAYING</div>
          <div class="clients-oGO23v valign-text-middle rufina-normal-white-45px">Clients</div>
          <div class="testimonials-oGO23v">
            <div class="tech-1-sOwQJ7">
              <div class="rectangle-7-LSxKDm border-2px-hibiscus"></div>
              <img class="rectangle-8-LSxKDm" src="img/rectangle-8@2x.svg" />
              <div class="francis-wolfe-LSxKDm valign-text-middle rufina-normal-white-22px">Francis Wolfe</div>
              <div class="honestly-it-has-made-LSxKDm valign-text-middle dmsans-normal-silver-chalice-20px">
                Honestly it has made school so easy, I dont read anymore I only use summarizify before an exam and done.
                Who reads anymore??
              </div>
              <div class="student-LSxKDm">STUDENT</div>
            </div>
            <div class="tech-1-Fxwx9Z">
              <div class="rectangle-7-DHm3M8 border-2px-hibiscus"></div>
              <img class="rectangle-8-DHm3M8" src="img/rectangle-8-1@2x.svg" />
              <div class="noel-barber-DHm3M8 valign-text-middle rufina-normal-white-22px">Noel Barber</div>
              <div class="love-it-its-not-like-DHm3M8 valign-text-middle dmsans-normal-silver-chalice-20px">
                Love it, its not like anything in the market and allows me to safe so much time!
              </div>
              <div class="student-DHm3M8 dmsans-normal-hibiscus-14px">STUDENT</div>
              <img class="vector-DHm3M8" src="img/vector-1@2x.svg" />
              <img class="vector-aRoCMp" src="img/vector-1@2x.svg" />
              <img class="vector-hgiCAB" src="img/vector-1@2x.svg" />
            </div>
            <div class="tech-1-fif6hl">
              <div class="rectangle-7-nH6S2g border-2px-hibiscus"></div>
              <img class="rectangle-8-nH6S2g" src="img/rectangle-8-2@2x.svg" />
              <div class="darla-stevenson-nH6S2g valign-text-middle rufina-normal-white-22px">Darla Stevenson</div>
              <div class="it-allows-me-to-save-nH6S2g valign-text-middle dmsans-normal-silver-chalice-20px">
                It allows me to save soo much time from reading thousand of articles, I am loving it.
              </div>
              <div class="business-owner-nH6S2g dmsans-normal-hibiscus-14px">BUSINESS OWNER</div>
            </div>
          </div>
        </div>
        <div class="designed-with-FUbsgY valign-text-middle dmsans-normal-silver-chalice-25px">Designed with</div>
        <div class="by-FUbsgY valign-text-middle dmsans-normal-silver-chalice-25px">by</div>
        <img class="icon-heart-FUbsgY" src="img/vector@2x.svg" />
        <div class="summarizify-FUbsgY valign-text-middle">Summarizify</div>
        <img class="whats-app-image-2022-04-08-at-355-1-FUbsgY" src="img/whatsapp-image-2022-04-08-at-3-55-1@2x.png" />
      </div>
    </div>
  </body>
</html>
